  
.navbar1{
    background-color:rgba(24,16,255,.625);
    border-radius: 0 0 0 100px;
    height: 15vh;
    width:100%;
  }
  .title {
    font-weight: 900;
    color: #fff;
    letter-spacing: 1.5px;
    font-family: "Poppins",sans-serif;
    font-size: 180%;
    padding-left: 10%;
    padding-top: 1.5rem;
    float:left;
  }
  .count {
    padding-top: 20px;
    padding-right: 10px;
    right: 10px;
    color: #fff;
    float: right;
  }
.num{
  border: 2px solid white;
  border-radius: 8px;
  color: #ff0000;
  padding: 1px 6px;
  background-color: #fff;
  box-sizing: border-box;
  float: right;
  font-weight: 700;
}
.text{
  float: left;
}