._searchbar {
    height: 50px;
    display: flex;
    align-items: center;
    float: left;
    margin-top: 13px;
    margin-left: 12px;
    padding: 5px;
}
.searchbar{
    width: 84%;
    height: 90px;
    display: flex;
    background-color: white;
    margin: 20px auto;
    border-radius: 0 28px 0 29px;
    border: 2px solid rgb(138, 36, 255);
    box-shadow: 10px 10px 5px grey;
}